/*@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);
@import url(http://fonts.googleapis.com/css?family=Exo:400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/




@import url(https://fonts.googleapis.com/css?family=Signika:400,700,300);





@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/MyriadPro-Regular/MyriadPro-Regular.otf')  format('opentype'),
       url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'), 
       url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf')  format('truetype'), 
       url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('../fonts/MyriadPro-bold/MyriadPro-bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/MyriadPro-bold/MyriadPro-bold.otf')  format('opentype'),
       url('../fonts/MyriadPro-bold/MyriadPro-bold.woff') format('woff'), 
       url('../fonts/MyriadPro-bold/MyriadPro-bold.ttf')  format('truetype'), 
       url('../fonts/MyriadPro-bold/MyriadPro-bold.svg#MyriadPro-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
    font-family: 'novecento_sans_wide_bookbold';
    src: url('../fonts/novecento-bold/synthview_-_novecento_sans_wide_bold-webfont.eot');
    src: url('../fonts/novecento-bold/synthview_-_novecento_sans_wide_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecento-bold/synthview_-_novecento_sans_wide_bold-webfont.woff2') format('woff2'),
         url('../fonts/novecento-bold/synthview_-_novecento_sans_wide_bold-webfont.woff') format('woff'),
         url('../fonts/novecento-bold/synthview_-_novecento_sans_wide_bold-webfont.ttf') format('truetype'),
         url('../fonts/novecento-bold/synthview_-_novecento_sans_wide_bold-webfont.svg#novecento_sans_wide_bookbold') format('svg');
    font-weight: normal;
    font-style: normal;

}