@charset "utf-8";
/* CSS Geral BASIC */

/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'Signika', sans-serif;
font-family: 'novecento_sans_wide_bookbold';
font-family: 'MyriadPro-Regular';
font-family: 'MyriadPro-Bold';

*/

@import url('fonts.css');



/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none;}
/* End Reset */



.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }
.top35 { margin-top:35px; }
.top40 { margin-top:40px; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top120 { margin-top:120px; }
.top125 { margin-top:125px; }
.top140 { margin-top:140px; }
.top150 { margin-top:150px; }
.top160 { margin-top:160px; }
.top170 { margin-top:170px; }
.top180 { margin-top:180px; }
.top195 { margin-top:195px; }
.top295 { margin-top:295px !important; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left130 { margin-left:130px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right130 { margin-right:130px; }


.pt5 { padding-top:5px; }
.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt300 { padding-top:300px; }

.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }

.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb25 { padding-bottom:25px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb70 { padding-bottom:70px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }
.container{
	width: 1170px;
}


.input100{
	width: 100% !important;
}

.fonte-nove{
	font-family: 'novecento_sans_wide_bookbold';
}

.fonte-mr{
	font-family: 'MyriadPro-Regular';
}

.fonte-mb{
	font-family: 'MyriadPro-Bold';

}

body{
	overflow-x: hidden;
	font-family: 'Signika', sans-serif;
}


h1{
	font-size: 36px;
	color: #e9292a;
	font-weight: 300;
}

h2{
	font-size: 22px;
	color: #fff;
	font-weight: 700;
}

h3 {
	font-size: 32px;
	color: #fff;
	font-weight: 700;
	
}

h4{
	font-family: 'MyriadPro-Regular';
	text-align: justify;
	color: #fff;
	font-size: 24px;
}

h5{
	font-size: 48px;
	color: #fa2436;
	font-weight: 700;
}

h6{
	font-size: 28px;
	color: #fff;
	font-weight: 600;
	
}


p{
	font-weight: 300;
	text-align: justify;
	color: #000;
	font-size: 20px;
}

a:hover{
	text-decoration: none;
}

/*Smooth Page Scroll to Top with jQuery*/
.scrollup{
	width:40px;
	height:40px;
	opacity:4.3;
	position:fixed;
	bottom:50px;
	right:100px;
	display:none;
	text-indent:-9999px;
	background: url(../imgs/seta-cima1.png) no-repeat;
}





/**
============================================
			  topo
============================================
*/

.fundo-transparente{
	height: 165px;
	background: url(../imgs/fundo-transparente-topo.png) top center ,url(../imgs/borda-personalizada-topo.png) bottom center no-repeat;
}
.redes span{
	padding-left: 15px;
}

.online {
	height: 83px;
	background: url(../imgs/icon-peca-internet.png) left  no-repeat;
}

.reserva {
	height: 100px;
	background: url(../imgs/icon-faca-reserva.png) left 3px no-repeat;
}

.reserva h3{
	margin-left: 30px;
}

.navs-personalizados .navbar-default .navbar-nav>.active>a,.navs-personalizados .navbar-default .navbar-nav>li>a:hover {
	background: none;
	color: #e9292a;
}



.navs-personalizados .navbar-default .navbar-nav>li>a {
	font-size: 21px;
	color: #fff;
	padding: 0px 10px;
	text-align: center;
	background: none;
	text-shadow: 2px 1px 5px rgba(12, 12, 12, 1);
}

.navs-personalizados .navbar-default .navbar-nav>li>a:hover {
	color: #e9292a;
}

.navs-personalizados .navbar-default {
	margin-bottom: 0px;
	background: none !important;
	border: none !important;
}


.descer-menu {
	margin-top: 865px;
}

/**
============================================
			  topo
============================================
*/


/**
============================================
			  RODAPE
============================================
*/
.rodape {
	margin-top: -1px;
	height: 392px;
	background: url(../imgs/bg-rodape.jpg) top center no-repeat;
}

.navs-personalizados1 .navbar-default .navbar-nav>.active>a {
	background: none;
	color: #e9292a;
}

.navs-personalizados1 .navbar-default .navbar-nav>li>a {
	font-size: 21px;
	color: #fff;
	padding: 0px 10px;
	text-align: center;
	background: none;
	text-shadow: 2px 1px 5px rgba(12, 12, 12, 1);
}

.navs-personalizados1 .navbar-default .navbar-nav>li>a:hover {
	color: #e9292a;
}

.navs-personalizados1 .navbar-default {
	background: none !important;
	border: none !important;
}

.rodape-preto h5{
	font-family: 'MyriadPro-Regular';
	font-size: 18px;
	color: #fff;
}

.rodape-contatos .thumbnail {
	width: 108px;
	height: 47px;
	border:none;
	margin: 0px 10px 10px 0px;
	display: block;
	padding: 0px;
	background:url(../imgs/fundo-transparente-rodape.png);
	border-radius: 0px;
}

.rodape-contatos h1 {
	font-size: 11px;
	color:#fff;
}

.rodape-contatos h4 {
	text-align: center;
	font-size: 21px;
	color:#fff;
}

/**
============================================
			  RODAPE
============================================
*/

/**
============================================
			  HOME
============================================
*/

.bg-home{
	background: url(../imgs/bg-home.jpg) top center no-repeat;
}


.bg-menu{
	height: 1082px;
	margin-top: -22px;
	background: url(../imgs/bg-menu.jpg) top  center no-repeat !important;
}

.categorias-home .navbar-default .navbar-nav>li>a:hover {
	background: none;
	color: #fff;
}

.categorias-home .navbar-default .navbar-nav>.active>a {
	height: 300px;
	color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #555;
	background-color: #e7e7e7;
}

.categorias-home .navbar-default .navbar-nav>li>a {
	font-size: 32px;
	font-family: 'novecento_sans_wide_bookbold';
	height: 300px;
	color: #fff;
	padding: 11px 32px;
	text-align: center;
	background: none;
}

.categorias-home .navbar-default {
	background: none !important;
	border: none !important;
}

.categorias-home .navbar-collapse {
	padding: 0px 54px;
}


.categorias-home h2{
	text-align: center;
	font-weight: 600;
	font-family: 'Signika', sans-serif;
}


.categorias-home p {
	overflow: hidden;
	height: 200px;
	margin-top: 290px;
	text-align: justify;
	font-size: 24px;
	font-weight: 600;
	color: #fff;
}

.sabores {
	height: 560px;
	margin-top: -4px;
	background: url(../imgs/bg-sabores.jpg) top center no-repeat;
}


.premiadas {
	height: 1038px;
	background: url(../imgs/bg-premiadas.jpg) top center no-repeat;
}



/* carousel */
.media-carousel 
{
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
	margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
	left: -12px;
	background-image: none;
	background: none repeat scroll 0 0 #222222;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width : 40px;
	margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
	right: -12px !important;
	background-image: none;
	background: none repeat scroll 0 0 #222222;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width : 40px;
	margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
	right: 20%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
	background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
	background: #333333;
}
.carroucel-premiadas .media-carousel img {
	width: 250px;
	height: 190px;
}
/* End carousel */


.carroucel-premiadas .thumbnail {
	border:none;
	display: block;
	padding: 10px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background:url(../imgs/fundo-transparente-topo.png);
	border-radius: 0px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}


.seta .carousel-control {
	top: 516px;
}


.seta .media-carousel .carousel-control.left>img,.seta .media-carousel .carousel-control.right>img{ 
	height: 33px;
	width: 48px;
}


.seta .media-carousel .carousel-control.left {
	left: 464px !important;
	background-image: none;
	/* background: none repeat scroll 0 0 #222222; */
	/* border: 4px solid #FFFFFF; */
	/* border-radius: 23px 23px 23px 23px; */
	/* height: 40px; */
	/* width: 40px; */
	margin-top: 30px;
}

.seta .media-carousel .carousel-control.right {
	right: 464px !important;
	background-image: none;
	background: none ; 
	border: none;
	color: #fff;
	border-radius: none; 
	height: 40px; 
	width: 40px; 
	margin-top: 30px;
}


.seta .media-carousel .carousel-control.left {
	left: 464px !important;
	background-image: none;
	background: none ; 
	border: none;
	color: #fff;
	border-radius: none; 
	height: 40px; 
	width: 40px; 
	margin-top: 30px;
}

.lojas {
	margin-top: -7px;
	height: 578px;
	background: url(../imgs/bg-12lojas.jpg) top center no-repeat;
}

.lojas h3{
	margin-top: 30px;
	font-weight: 400;
	color:#c3842d;
}




/*segundo carroucel*/

.novidades {
	margin-top: -36px;
	height: 1075px;
	background: url(../imgs/bg-novidades.jpg) top center no-repeat;
}

.carroucel-novidades .media-carousel img {
		width: 365px;
		height: 457px;
}
/* End carousel */


.carroucel-novidades .thumbnail {
	border:none;
	display: block;
	padding: 10px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background:url(../imgs/fundo-transparente-topo.png);
	border-radius: 0px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}


.seta1 .carousel-control {
	top: 191px;
}


.seta1 .media-carousel .carousel-control.left>img,.seta1 .media-carousel .carousel-control.right>img{ 
	height: 33px;
	width: 48px;
}


.seta1 .media-carousel .carousel-control.right {
	right: 47px !important;
	background-image: none;
	background: none ; 
	border: none;
	color: #fff;
	border-radius: none; 
	height: 40px; 
	width: 40px; 
	margin-top: 30px;
}


.seta1 .media-carousel .carousel-control.left {
	left: 38px !important;
	background-image: none;
	background: none ; 
	border: none;
	color: #fff;
	border-radius: none; 
	height: 40px; 
	width: 40px; 
	margin-top: 30px;
}
/*segundo carroucel*/


.btn-saiba-mais{
	margin-left: 180px;
	font-weight: 600;
	font-size: 20px;
	color: #fff;
	background: none; 
	border: none; 
}

.btn-saiba-mais:hover{
	color: #fff;
	background: none; 
	border: none; 
}

.fa-plus:before {
	margin-left: 5px;
	color: #e02829;
}

.carroucel-novidades h4 {
	overflow: hidden;
	padding: 0px 15px;
	height: 152px;
}

.carroucel-novidades h1 {

    height: 70px;
    text-align: center;
    overflow: hidden;
}

/**
============================================
			  HOME
============================================
*/



/**
============================================
				A PIZZA CESAR
============================================
*/

.bg-pizza-cesar{
	background: url(../imgs/bg-pizza-cesar.jpg) top center no-repeat;
}

.bg-pizza-descricao{
	height: 1517px;
	background: url(../imgs/bg-descricao-pizza.jpg) top center no-repeat;
}


.descricao-pizza p {
	overflow: hidden;
	margin: 20px 0px;
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	height: 177px;
}

/**
============================================
				A PIZZA CESAR
============================================
*/


/**
============================================
			CARDAPIO
============================================
*/

.bg-cardapio{
	background: url(../imgs/bg-cardapio.jpg) top center no-repeat;
}

.bg-tipos-cardapio{
	height: 1634px;
	background: url(../imgs/bg-descricao-cardapio.jpg) top center no-repeat;
}

.descricao-cardapio h1{
	font-weight: 700;
	font-size: 48px;
	color: #fff;
}

.descricao-cardapio img{
	-webkit-box-shadow: 0px 0px 0px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 0px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 0px -1px rgba(0,0,0,0.75);
}




.navs-cardapio .navbar-default .navbar-nav>.active>a,.navs-cardapio .navbar-default .navbar-nav>li>a:hover {
	background: url(../imgs/fundo-transparente-cadarpio.png) top center;
	color: #ffa800;
}



.navs-cardapio .navbar-default .navbar-nav>li>a {
	font-size: 20px;
	margin-left: 8px;
	color: #fff;
	height: 45px;
	width: 174px;
	padding: 13px 0px;
	text-align: center;
	background: url(../imgs/fundo-transparente-cadarpio.png) top center;
	text-shadow: 2px 1px 5px rgba(12, 12, 12, 1);
}

.navs-cardapio .navbar-default .navbar-nav>li>a:hover {
	color: #ffa800;
}

.navs-cardapio .navbar-default {
	margin-bottom: 0px;
	background: none !important;
	border: none !important;
}

.bg-tipos-cardapio h5{
	color: #fff;
}

.carroucel-premiadas,.media-carousel {
	padding: 0px;
	margin:0px;
}

.carroucel-premiadas1 .thumbnail {
	position: relative;
	border: none;
	display: block;
	padding: 10px;
	margin-bottom: 20px;
	background: url(../imgs/fundo-transparente-rodape.png)repeat;
	border-radius: 0px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.btn-peca-online {
    position: absolute;
    top: 9px;
    left: 0px;
    background: url(../imgs/peca-online.png) no-repeat;
    width: 204px;
    height: 38px;
}

.btn-peca-online:hover{
color: none;
}
/**
============================================
			CARDAPIO
============================================
*/



/**
============================================
			FRANQUIAS
============================================
*/

.bg-franquias{
	background: url(../imgs/bg-franquiados.jpg) top center no-repeat;
}

.bg-franquias1{
	min-height: 700px;
	background: url(../imgs/bg-franquiados1.jpg) top center no-repeat;
}

.bg-franquias1 h1 {
    margin-top: 22px;
    font-weight: 600;
    font-size: 42px;
    color: #fff;
}

.bg-franquias1 p{
	font-weight: 600;
	font-size: 24px;
	color: #fff;
}



.btn-franquias{
	background: url(../imgs/fundo-transparente-fale.png) top center;
	font-family: 'novecento_sans_wide_bookbold';
	font-size: 20px;
	color: #fff;
	padding: 4px 15px;
	border-radius: 0px;
	border: none;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: 25px;
}

.btn-franquias.active{
	background: url(../imgs/fundo-transparente-fale.png) top center;
	color: #ffa800;
}

.btn-franquias:hover{
	background: url(../imgs/fundo-transparente-fale.png) top center;
}


/**
============================================
			FRANQUIAS
============================================
*/

/**
============================================
			FALE CONOSCO
============================================
*/

.bg-fale-conosco{
	background: url(../imgs/bg-fale-conosco.jpg) top center no-repeat;
}

.bg-fale {
	margin-top: -1px;
	height: 1511px;
	background: url(../imgs/bg-fale-conosco1.jpg) top center no-repeat;
}	

.descricao-fale h1{
	font-weight: 700;
	color: #fff;
	font-size: 41px;
}

.descricao-fale p {
	margin-top: 30px;
	height: 170px;
	overflow: hidden;
	font-weight: 600;
	color: #fff;
	font-size: 24px;
}


.fale-contatos .thumbnail {
	margin-bottom: 40px;
	border: none;
	display: block;
	background: url(../imgs/fundo-transparente-fale.png);
	border-radius: 0px;
}

.fale-contatos h1 {
	margin-top: 22px;
	font-weight: 600;
	font-size: 27px;
	color: #e9292a;
}

.fale-contatos h3 {
	height: 37px;
	overflow: hidden;
	margin: 13px 0px;
	font-family: 'MyriadPro-Regular';
	font-weight: 600;
	font-size: 18px;
	color: #fff;
}


.fale-contatos h4 {
	margin: 13px 0px 40px 0px;
	font-family: 'MyriadPro-Regular';
	text-align: center;
	font-size: 30px;
	color: #fff;
}

.formulario h4{
	font-family: 'Signika', sans-serif;
	font-weight: 600;
	color: #d52223;
}

.formulario span{
	font-size: 24px;
	font-family: 'Signika', sans-serif;
	font-weight: 600;
	color: #fff;
}

.formulario label{
	font-size: 18px;
	color: #fff;
}

.btn-vermelho{
	width: 212px;
	height: 68px;
	border-radius: 0px;
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	background: #d52223;
}
.btn-vermelho:hover{
	color: #fff;
}

.fundo-form {
	border-radius: 0px;
}
/**
============================================
			FALE CONOSCO
============================================
*/


/**
============================================
			LOJAS
============================================
*/
.bg-lojas{
	background: url(../imgs/bg-lojas.jpg) top center no-repeat;
}

.bg-lojas-descricao{
	background: url(../imgs/bg-franquiados1.jpg) top center;
}

.descricao-lojas h1{
	font-size: 27px;
	color: #fa2436;
	font-weight: 600;
}

.carroucel-novidades1 .media-carousel img {
	width: 315px;
	height: 457px;
}
/* End carousel */


.carroucel-novidades1 .thumbnail {
	border:none;
	display: block;
	padding: 10px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background:url(../imgs/fundo-transparente-topo.png);
	border-radius: 0px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}


.carroucel-novidades1 h6 {
	margin-top: 10px;
	font-family: 'MyriadPro-Regular';
	font-size: 40px;

}


.carroucel-novidades1 h1 {
	font-weight: 700;
    text-align: center;
}



.carroucel-novidades1 h4 {
	text-align: center!important;
    overflow: hidden;
    padding: 0px 15px;
    height: 48px;
}

.carroucel-novidades1 img {
    width: 365px;
    height: 457px;
}
/**
============================================
			LOJAS
============================================
*/


/**

============================================
			PROMOÇOES
============================================
*/

.bg-promocoes{
	background: url(../imgs/bg-promocoes.jpg) top center no-repeat;
}

.bg-promocoes-descricao{
	background: url(../imgs/bg-franquiados1.jpg) top center;
}



/**
============================================
			PROMOÇOES
============================================
*/


.banner-home .modal-dialog {
	width: 1100px !important;
}