@charset "utf-8";

/* CSS Geral BASIC */


/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'Lato', sans-serif;
font-family:"Lato Black";
*/

@import url('./fonts.css');

/* Reset */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none;}
/* End Reset */



.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }
.top35 { margin-top:35px; }
.top40 { margin-top:40px; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top105 { margin-top:105px; }
.top195 { margin-top:195px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left130 { margin-left:130px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right130 { margin-right:130px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt300 { padding-top:300px; }

.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }

.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb25 { padding-bottom:25px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb70 { padding-bottom:70px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }

.container {
	max-width: 480px;
}

.input100 {
	width: 100% !important;
}



body {
	font-family: 'Lato', sans-serif;
}

.lato-B{
	font-family:"Lato Black";
}

h1 {
	color: #225d7f;
	font-size: 14px;
	font-weight: 400;
	
}

h2 {
	color: #225d7f;
	font-size: 30px;
	font-weight: 300;
	display: -webkit-inline-box;
	border-bottom: 2px solid #225d7f;
}


h3 {
	color: #225d7f;
	font-size: 11px;
	font-weight: 400;
}

h4{
	color: #000;
	font-size: 20px;
	font-weight: 400;
	font-family:"Lato Black";
}



h5{
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	
}


h6 {
	color: #225d7f;
	font-size: 25px;
	font-weight: 300;
	border-bottom: 2px solid #225d7f;
	display: -webkit-inline-box;
	
}

p {
	text-align: justify;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	
}

a:hover {
	text-decoration: none;
}


/**
============================================
					topo
============================================
*/

.topo{
	background: url(../imgs/bg-topo-degrader.png) repeat-x;
	position: relative;
	z-index: 999;
}

.telefone-topo span{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 15px;
}

.telefone-topo1 h4{
	font-size: 15px;
}

.btn-azul {
	font-weight: 400;
	background: #225d7f;
	color: #fff;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
}

.btn-azul:hover {
	color: #fff;

}

.btn-azul1 {
	height: 51px;
	width: 120px;
	font-weight: 400;
	background: #225d7f;
	color: #fff;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
}

.btn-azul1:hover {
	color: #fff;

}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
	margin-left: -1px;
	color: #fff;
	background-color: #225d7f;
}

.form{
	background-color: #225d7f;
}


.telefone-topo,.input-group,.form-control,.btn{
	border-radius: 0px;
}


.menu-topo {
	height: 60px;
	background: #225d7f;
}

.menu-home {
	margin-top: 23px;
	height: 18px;
	width: 181px;
	background: url(../imgs/menu-topo.png) 17px no-repeat;

	/*rack select*/
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	/*rack select*/
}


/**
============================================
					effect 2
============================================
*/
.effect2{
	-webkit-box-shadow: 0px 11px 16px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 11px 16px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 11px 16px -6px rgba(0,0,0,0.75);
}


.topo-meu-orcamento h6{
	margin-top: 6px;
	font-weight: 700;
	color: #225d7f;
	font-size: 14px;
}

.topo-meu-orcamento{
	min-width: 196px;
	padding: 5px 9px;
}





/**
============================================
					topo
============================================
*/


/**
============================================
					RODAPE
============================================
*/

.bg-fundo-preto{
	background: #000;
}

.bg-fundo-preto h4{
	font-family: 'Lato', sans-serif;
	padding: 10px 0px;
	color: #fff;
	font-size: 19px;
	font-weight: 300;
}


/**
============================================
					RODAPE
============================================
*/


/**
============================================
					HOME
============================================
*/

.slider-index{
	margin-top: -30px !important;
}

.slider-index,.carousel-caption {
	top: 34%;
}

.slider-index,.carousel-indicators {
	top: 48%;
}


.carousel-indicators li {	
	width: 11px;
	height: 11px;

}
.carousel li {
	margin-right: 0px !important; 
}

.slider-index .carousel-indicators .active {
	background: #fff;
}

.slider-index .carousel-control:hover, .carousel-control:focus {
	opacity: none !important;
}

.slider-index .carousel-control {
	background: none;
}


.slider-index .carousel-control.left, .slider-index .carousel-control.right {
	z-index: 20;
	height: 16px;
	width: 18px;
	top: 249px;
}

.slider-index .carousel-control.left{
	left: 179px;
}

.slider-index .carousel-control.right{
	right: 179px;
}

.slider-index .carousel-control .glyphicon-chevron-left, .slider-index .carousel-control .glyphicon-chevron-right, .slider-index .carousel-control .icon-prev, .slider-index .carousel-control .icon-next {
	font-size: 16px;
}



.lista-categorias li{
	background: url(../imgs/bg-categorias.png);
	width: 130px;
	height: 110px;
	margin-right: 10px !important;
}

.slider-prod h4{
	color: #fff;
	text-shadow: -1px 2px 2px rgba(17, 17, 17, 1);
}

.slider-prod .flexslider .slides img{
	width: 75%;
}

.slider-prod{
	background: none;
	margin-top: -170px;
}

.fa-chevron-left:before,.fa-chevron-right:before {
	margin-right: 30px;
	text-shadow: -1px 2px 2px rgba(17, 17, 17, 1);
	color: #fff;
}

.slider-prod .flexslider {
	margin: 0 0 20px; 
	background: none;
	border: none;
}

.slider-prod a:hover, a:focus{
	outline: none;
}

.produtos-home h3+h3 {
	padding-bottom: 16px;
	background: url(../imgs/barra-produtos-home.png) left bottom no-repeat;
}

.produtos-home {
	padding: 0px;
}

.fa-star:before {
	padding-right: 5px;
}


.produtos-home .fa {
	margin-left: 8px;
}


.conheca h4{
	font-family: 'Lato', sans-serif;
	padding-bottom: 4px;
	display: -webkit-inline-box;
	border-bottom: 2px solid #000;
}


.conheca h5{
	color: #000;
}

.conheca-mais{
	height: 263px;
	background: url(../imgs/bg-conheca-piscina.jpg) center no-repeat;
}

.dicas-home h4{
	font-family: 'Lato', sans-serif;
	padding-bottom: 4px;
	display: -webkit-inline-box;
	border-bottom: 2px solid #225d7f;
	color: #225d7f;
}

.borda-azul {
	display: -webkit-inline-box;
	border-bottom: 2px solid #225d7f;
}

.dicas-home1 h4 {
	font-family: 'Lato', sans-serif;
	height: 50px;
	overflow: hidden;
	color: #225d7f;
	font-weight: 300;
}

.dicas-home1 h5 {
	text-align: justify;
	height: 80px;
	overflow: hidden;
	margin-top: 20px;
	color: #000;
	font-weight: 300;
}
/**
============================================
					HOME
============================================
*/


/**
============================================
					EMPRESA
============================================
*/

.bg-empresa{
	margin-top: -35px;
	height: 359px;
	background: url(../imgs/bg-empresa.jpg) center top no-repeat;
}

.jumbotron{
	background: #eeeeee;
	padding: 24px 15px !important;

}

.empresa-descricao p{
	font-size: 14px;
}

.personalizar-carroucel h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #225d7f;
}

.controle-esquerdo.left {
	right: 0;
	left: 257px;
	background-image: none;
}

.controle-direito.right {
	right: 50px;
	left: auto;
	background-image: none;
}

.posicao-caroucel .glyphicon-chevron-left,.posicao-caroucel .glyphicon-chevron-right {
	color: #0e567f !important; 
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
	right: 68%;
}

.posicao-caroucel {
	top: 300px;
}

.portifolio-home h2{
	display: -webkit-inline-box;
	border-bottom: 2px solid #fff;
	color: #fff;
}

.fundo-azul{
	background: #225d7f;
	-moz-box-shadow: inset 0 3px 7px 1px #000;
	-webkit-box-shadow: inset 0 3px 7px 1px #000;
	box-shadow: inset 0 3px 7px 1px #000;
	
}

.nossas-dicas-empresa h3{
	font-size: 33px;
	font-weight: 300;

}
 .personalizar-slider .touchcarousel .touchcarousel-item {
    margin: 0px 16px !important;
    padding: 38px 0px !important;

}

.personalizar-slider .touchcarousel .touchcarousel-wrapper {
    height: 70%;
}
/**
============================================
					EMPRESA
============================================
*/


/**
============================================
					DICAS
============================================
*/


.bg-dicas{
	margin-top: -35px;
	height: 359px;
	background: url(../imgs/bg-dicas.jpg) center top no-repeat;
}
.form1{
	background: #e5e5e5;
}

.barra-pesquisa-topo .form-control {
	color: #000;
    font-size: 9px;
}

.barra-pesquisa-topo1 .form-control {
	color: #fff;
    font-size: 11px;
}

.dica-dentro h4{
	color: #225d7f;
	font-family: 'Lato', sans-serif;
}


.descricao-comentario{
	margin-bottom: 10px;
}

.descricao-comentario h1{
	font-weight: 700;
	color: #225d7f;
	font-size: 17px;
}

.descricao-comentario p{
	font-size: 14px;
}
/**
============================================
					DICAS
============================================
*/



/**
============================================
					ORCAMENTOS
============================================
*/

.bg-orcamentos{
	margin-top: -35px;
	height: 359px;
	background: url(../imgs/bg-orcamentos.jpg) center top no-repeat;
}

.orcamentos h2{
	font-size: 25px;
}

.tb-lista-itens tbody{
	/*vertical-align: top;*/
	background: #d8d8d9;
}

.tb-lista-itens img{
	border-radius: 5px;
	border: 2px solid #225d7f;
}

.tb-lista-itens a img{
	border-radius: 0px;
	border:none !important;
}

.tb-lista-itens th{
	color: #000;
	font-size: 14px;
	font-weight: 400;
}
.input-lista-prod-orcamentos {
    width: 32px;
    height: 32px;
    line-height: 34px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.table>tbody>tr>td, .table>tfoot>tr>td {
	color: #000;
     vertical-align: inherit;

}

.pesquisa-orcamento p{
	margin: 15px 0px;
	font-size: 20px;
}

.fa-globe:before,.fa-home:before,.fa-mobile:before {
    margin-right: 10px;
}

/**
============================================
					ORCAMENTOS
============================================
*/


/**
============================================
					FALE CONOSCO
============================================
*/
.faleConosco {
     margin-top: -35px;
}

.fundo-form1{
	background: #d8d8d9;
}

/**
============================================
					FALE CONOSCO
============================================
*/

/**
============================================
					PRODUTOS
============================================
*/
.bg-produtos{
	margin-top: -35px;
	height: 359px;
	background: url(../imgs/bg-produtos.jpg) center top no-repeat;
}


.menu-home1 {
    padding-left: 10px;
    height: 46px;
    width: 131px;
}



.slider-prod1 h4{
	color: #fff;
	text-shadow: -1px 2px 2px rgba(17, 17, 17, 1);
}

.slider-prod1 .flexslider .slides img{
	width: 75%;
}

.slider-prod1{
	background: none;
}


.slider-prod1 .flexslider {
	margin: 0 0 20px; 
	background: none;
	border: none;
}

.slider-prod1 a:hover, a:focus{
	outline: none;
}

.fa-angle-left:before,.fa-angle-right:before {
	margin: 0px 50px;
	text-shadow: -1px 2px 2px rgba(17, 17, 17, 1);
	color: #225d7f;
}



.custom-navigation{
	position: relative;
    margin-top: -3px;
    z-index: 11111;
}


.slider-prod1 .flex-control-paging li a.flex-active {
    background: #225d7f !important;
}

.slider-prod1 .flex-control-paging li a {
    width: 15px;
    height: 15px;
    display: block;
    background: #90aebf;
    cursor: pointer;
}

.btn-voltar, .btn-voltar:hover {
	border: none;
    background: #e5e5e5;
    color: #225d7f;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    height: 36px;
    width: 126px;
}

.fa-angle-double-left:before {
	color: #fff;
    margin-right: 14px;
 }

 .slider-prod-dentro .flexslider {
    margin: 0 0 3px;
}

.slider-prod-dentro1 li img,.slider-prod-dentro li img{
    border: 1px solid #225d7f;
}

.slider-prod-dentro1 li {
    border:none;
}

.slider-prod-dentro1 .flexslider .slides > li {
    margin-left: 28px;
}

.slider-prod-dentro1 .flexslider {
    width: 60%;
}

.descricao-produtos p {
    color: #225d7f;
    margin-bottom: 6px;
    font-size: 10px;
}


.topo-telefone1 h6 {
	font-size: 20px;
    padding-bottom: 10px;
    display: -webkit-inline-box;
	border-bottom: 3px solid #225d7f;
}

.topo-telefone1 span {
    font-size: 20px;
    color: #000;
    font-weight: 400;
}








/*star rating*/
.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: center;
}
.rating > span {
	font-size: 13px;
	display: inline-block;
	position: relative;
	width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
	color: transparent;
	cursor: pointer;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
	left: 0;
	color: gold;
}





.descricao-comentario1 h4{
	color: #225d7f;
}

.descricao-comentario1,.jumbotron{
	margin-bottom: 10px;
}

.descricao-comentario1 p{
	font-size: 15px;
	color: #225d7f;
}

.descricao-comentario1,.rating-xs {
    font-size: 1em !important;
}

.slider-prod-dentro11 .flexslider {
    width: 100%;
}

.slider-prod-dentro11{
    /*margin-left: -27px;*/
}


.slider-prod-dentro11 .flexslider .slides > li {
    margin-left: 17px;
}

.slider-prod-dentro11 h4{
	margin-bottom: 10px;
	/*margin-left: 28px;*/
	font-family: 'Lato', sans-serif;
	color: #225d7f;
}


/**
============================================
					PRODUTOS
============================================
*/


/**
============================================
					SERVICOS
============================================
*/

.bg-servicos{
	margin-top: -35px;
	height: 359px;
	background: url(../imgs/bg-servicos.jpg) center top no-repeat;
}

.servicos-descricao h6{
	font-size: 22px;
}

.servicos-descricao p{
	font-size: 15px;
}

.tipos-servicos h5{
	color: #000;
}

.tipos-servicos p{
	margin-left: 10px;
	padding-left: 30px;
	background: url(../imgs/icon-servicos.png) left no-repeat;
}

/**
============================================
					SERVICOS
============================================
*/
































